#login-area{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#login-area .login-content{
    padding-top: 12%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#login-area .login-content > img{
    width: 83px;
    margin-bottom: 85px;
}

#login-area .login-content > .kh-normal-btn{
    width: 300px;
}

#login-area .login-content > .kh-normal-btn:nth-child(5){
    margin-bottom: 10px;
}