.logo{
    width: 15px;
    height: 15px;
}

.writing{
    font-size: 26px;
    letter-spacing: -.6px;
    margin: 0;
    padding: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}