.text-a{
    font-family: 'NOto Sans KR', sans-serif;
    font-size: 45px;
    font-weight: 900;

    font-style: italic;
    text-align: center;
    line-height: 36px;

    text-decoration: underline;
    text-decoration: none;
}