.header{
    height: 55px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;

    background-color: #212121FF;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #4d4d4d;
}

.left-section{
    display: flex;
    align-items: center;
}
.hambuger-menu{
    height: 24px;
    margin: 0px 24px;
}

.youtube-logo{
    height: 70px;
}

.middle-section{
    display: flex;
    align-items: center;
    max-width: 500px;
    margin-left: 70px;
    margin-right: 35px;
    flex: 1;
}

.search-button{
    height: 40px;
    width: 66px;
    background: #323232;
    border: 1px solid #4d4d4d;
    margin-right: 10px;
    border-radius: 0px 20px 20px 0px;
}

.search-icon{
    height: 25px;
}

.search-bar{
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid #4d4d4d;
    background: #121212;
    border-radius: 20px 0px 0px 20px;
    flex: 1;
}

.voice-search-button{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background: #121212;
}

.search-button,
.voice-search-button,
.upload-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.tooltip{
    position: absolute;
    background: gray;
    color: white;
    padding: 4px 8px;
    bottom: -30px;
    border-radius: 2px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.2s;
    white-space: nowrap;
    pointer-events: none;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip{
    opacity: 1;
}

.right-section{
    width: 150px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.current-user-picture{
    height: 32px;
    border-radius: 16px;
}

.notifications-icon,
.upload-icon{
    height: 24px;
}

.notifications-icon-container{
    position: relative;
}

.notifications-count{
    position: absolute;
    top: -5px;
    right: -6px;
    background-color: red;
    color: white;
    font-size: 11px;
    padding: 1px 5px;
    border-radius: 10px;
}