body{
    margin: 0;
    background: #181818;
    color: white;
    padding-top: 80px;
    padding-left: 92px;
    padding-right: 20px;
    font-family: 'Noto Sans KR', sans-serif;
}

p{
    margin: 0;
}